@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @layer base {
    :root {
      --background: 36 100% 95%;
      --foreground: 36 5% 1%;
      --card: 36 50% 90%;
      --card-foreground: 36 5% 10%;
      --popover: 36 100% 95%;
      --popover-foreground: 36 100% 1%;
      --primary: 0 70% 35%;
      --primary-foreground: 36 100% 95%;
      --secondary: 36 30% 70%;
      --secondary-foreground: 0 0% 0%;
      --muted: -2 30% 85%;
      --muted-foreground: 36 5% 35%;
      --accent: 0 70% 35%;
      --accent-foreground: 36 5% 10%;
      --destructive: 0 100% 30%;
      --destructive-foreground: 36 5% 90%;
      --border: 36 30% 50%;
      --input: 36 30% 18%;
      --ring: 36 94.3% 93.1%;
      --radius: 0.5rem;
    }
    .dark {
      --background: 36 50% 5%;
      --foreground: 36 5% 90%;
      --card: 36 50% 1%;
      --card-foreground: 36 5% 90%;
      --popover: 36 50% 5%;
      --popover-foreground: 36 5% 90%;
      --primary: 36 94.3% 93.1%;
      --primary-foreground: 0 0% 0%;
      --secondary: 36 30% 10%;
      --secondary-foreground: 0 0% 100%;
      --muted: -2 30% 15%;
      --muted-foreground: 36 5% 60%;
      --accent: -2 30% 15%;
      --accent-foreground: 36 5% 90%;
      --destructive: 0 100% 30%;
      --destructive-foreground: 36 5% 90%;
      --border: 36 30% 18%;
      --input: 36 30% 18%;
      --ring: 36 94.3% 93.1%;
      --radius: 0.5rem;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
